
.logo{
  max-width: 50px !important;
  max-height: 50px !important;
}

body {
  background-image: url('/images/MRB logo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: white !important;
  padding-bottom: 100px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.text-content{
  padding-left: 10%;
  padding-right: 10%;
  font-family: sans-serif;
}

/*
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 20px;
}*/

h1 {
  text-align: center;
}

p.footer {
  color: #CCC;
  width: 100%;
  text-align: center;
}

/* Menu */
.bg-dark {
  background-color: #7DD3D8 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.media .image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* roster CSS grid stuff*/

/* roster list and roster box itself */
.roster-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); */
    grid-template-areas:
        "roster roster";
    grid-gap: 20px;
  }

.roster {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));*/
    grid-template-areas:
        "name name"
        "portrait stats"
        "info1 info1"
        "info2 info2";
    grid-gap: 20px;
    background-color: rgba(0, 0, 0, 0.65);
  }

/* stuff that goes in a roster box */
.name {
  grid-area: name;
  font-family: serif;
  text-align: center;
  font-size: 2em;
}
.portrait {
  grid-area: portrait;
  text-align: center;
}

.portrait > img {
  object-fit: cover;
  max-width: 300px;
}
.stats {
  grid-area: stats;

}
.info1 {
  grid-area: info1;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.info2 {
  grid-area: info2;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

/*contract listing boxen */

.contract-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-areas:
        "contract contract contract";
    grid-gap: 20px;
  }

.contract {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));*/
    grid-template-areas:
        "con-name con-name"
        "con-year con-location"
        "con-sum con-sum"
    grid-gap: 20px;
    background-color: rgba(0, 0, 0, 0.65);
  }

.con-name {
  grid-area: con-name;
  color: black;
  font-family: serif;
  text-align: center;
  font-size: 2em;
}

.con-date {
  grid-area: con-date;
  color: black;
}

.con-location {
  grid-area: con-location;
  color: black;
}

.con-sum {
  grid-area: con-sum;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
